.attribution {
  display: none;
}

@media (min-width: 768px) {
  .attribution {
    display: block;
    position: absolute;
    bottom: 3px;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 10px;
    color: var(--grey-color);
  }

  .attribution a {
    color: gold;
  }
}

@media (min-width: 2560px) {
  .attribution {
    font-size: 2rem;
    color: var(--grey-color);
  }

  .attribution a {
    color: gold;
  }
}
