:root {
  /* Color Variables */
  --primary-color: rgb(27, 30, 59);
  --secondary-color: rgb(255, 98, 87);
  --inactive-btn-color: rgb(36, 39, 66);
  --background-color: rgb(54, 56, 78);
  --grey-color: rgb(146, 148, 160);
  --light-color: rgb(255, 255, 255);

  /* Font Variables */
  --font-fam: 'Roboto', sans-serif;
  --regular-font-size: 1rem;
  --medium-font-size: 2.5rem;
  --small-font-size: 0.875rem;
  --mobile-font-size: 1.125rem;

  --regular-weight: 400;
  --bold-weight: 700;

  /* Shadow Variables */
  --active-glow: 4px 4px 10px rgba(255, 98, 87, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-fam);
}

body {
  background-color: var(--background-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  height: max-content;
  max-width: 350px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  background-color: var(--light-color);
}

.form-left {
  padding: 0 20px;
}

.header {
  color: var(--primary-color);
  padding: 25px 0px 15px;
}

.form-left p {
  padding-bottom: 15px;
}

.header {
  font-size: 24px;
}

.form-left p {
  font-size: 14px;
}

@media (min-width: 768px) {
  .main-container {
    max-width: 79%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin: auto;
    background-color: var(--light-color);
    padding: 15px;
    border-radius: 20px;
  }

  .form-left {
    padding: 0 0 0 25px;
    width: 60%;
  }

  .header {
    color: var(--primary-color);
    padding-bottom: 15px;
    font-size: 2rem;
  }

  .form-left p {
    padding-bottom: 15px;
  }

  .form-left p {
    color: var(--primary-color);
    font-weight: 500;
    font-size: var(--small-font-size);
  }
}

@media (min-width: 1040px) {
  .header {
    font-size: var(--medium-font-size);
  }
}

@media (min-width: 2560px) {
  .main-container {
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin: auto;
    background-color: var(--light-color);
    padding: 15px;
    border-radius: 20px;
  }

  .form-left {
    padding: 0 0 0 75px;
    width: 60%;
  }

  .header {
    color: var(--primary-color);
    padding-bottom: 15px;
    font-size: 5rem;
  }

  .form-left p {
    padding: 35px 0;
  }

  .form-left p {
    font-size: 2rem;
  }
}
